/*
	feuille de style personelle
	(personnalisation des classes des templates bootstrap)
	Palette Couleurs :
	#f9df1b : jaune (249,223,27)
	#000000 : noir
	#080808 : gris très foncé
	#777777 : gris
*/

/* debut liens */
a{
	color: #337ab7;
}
/* fin liens */



/* debut barre de navigation */
#logo{
	background-image: url("/images/cochon_mignon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	padding: 10px 10px 10px 10px;
}

#my_nav_bar a{
	color: #f9df1b;
}

#my_nav_bar a:hover{
	color: #f9df1b;
	font-weight: bold;
	letter-spacing: -0.001527em;
}

#my_nav_bar .nav-link.active{
	font-weight: bold;
	text-decoration: underline;
}


/*.btn.vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* fin barre de navigation */



/* debut barre laterale
.sidenav {
      	padding-top: 20px;
      	background-color: #f1f1f1;
		margin-bottom : -20px;
}

.sidenav a{
    color: #337ab7;
}
	fin barre laterale */



/* debut news */
.card-text{
  width: 100%; /* à modifier selon vos besoins */
  max-height : 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .btn{
	background-color : #f9df1b;
	border-color: #f9df1b;
}

.card a:hover.btn{
	font-weight: bold;
}

.card a.card-link{
	color : #080808;
}

.card a:hover.card-link{
	font-weight: bold;
}
/* fin news */



/* debut lire la suite */
/* styles for '...' */
.limit_text{
	/* hide text if it more than N lines  */
	overflow: hidden;
	/* for set '...' in absolute position */
	position: relative;
	/* use this value to count block height */
	line-height: 1.2em;
	/* max-height = line-height (1.2) * lines max number (3) */
	max-height: 3.6em;
	/* fix problem when last visible word doesn't adjoin right side  */
	text-align: justify;
	/* place for '...' */
	margin-right: -1em;
	padding-right: 1em;
}

/* create the ... */
.limit_text:before{
	/* points in the end */
	content: '...';
	/* absolute position */
	position: absolute;
	/* set position to right bottom corner of block */
	right: 0;
	bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.limit_text:after{
	/* points in the end */
	content: '';
	/* absolute position */
	position: absolute;
	/* set position to right bottom corner of text */
	right: 0;
	/* set width and height */
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	/* bg color = bg color under block */
	background: white;
}
/* fin lire la suite */




/* debut responsive map */
.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
/* fin responsive map */

.p1{
	margin : auto;
	position : relative;
}

/* debut administration */
#div_liste {
	width: 90%;
	text-align: left;
	margin: auto;
}

#admin {
	width: 90%;
	text-align: center;
	margin: auto;
}

#admin table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#admin td, #admin th {
	width: 50%;
	border: 2px solid #dddddd;
	text-align: left;
	padding: 5px;
}

#admin tr:nth-child(even) {
	background-color: #dddddd;
}

#thumbnail {
	width:80px;
}

#thumbnail:hover {
	transform: scale(3);
	margin-right: 100px;
	margin-bottom: 20px;
}
/* fin administration */



/* debut footer */
footer{
	background-color : #777777;
	color: #ffffff;
}

footer a{
	color: #ffffff;
}

footer a:hover{
	color: #ffffff;
	font-weight:bold;
	text-decoration:none;
}

#facebook{
	background-image:url("/images/logo_facebook.png");
	background-repeat: no-repeat;
	background-size: 25px;
	width: 25px;
	height: 25px;
}
/* fin footer */


/* Formulaire contact */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/*
Le carousel
*/
.carousel {
	background:#444;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
	width:100%;
	height:auto;
}

/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
	display: block;
	width:100%;
}
/* barre de navigation */

.navbar-icon-top .navbar-nav .nav-link > .fa {
	position: relative;
	width: 36px;
	font-size: 24px;
}





.navbar-icon-top .navbar-nav .nav-link > .fa {
	top: 3px;
	line-height: 12px;
}

@media (min-width: 576px) {
	.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}
}

@media (min-width: 768px) {
	.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}


}

@media (min-width: 992px) {
	.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}


}

@media (min-width: 1200px) {
	.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
		text-align: center;
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
		display: block;
		width: 48px;
		margin: 2px auto 4px auto;
		top: 0;
		line-height: 24px;
	}
}
	#ex1Slider .slider-selection {
		background: #BABABA;
	}




